@media screen and (max-width: 630px) {
  .pro-sidebar {
    display: none;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5%;
  position: absolute;
  width: 100%;
}