{
    "plugins": [
        "prettier-plugin-align"
    ],
    "align": [
        {
            "operators": [
                "="
            ],
            "includeComments": false,
            "alignment": "assign"
        }
    ]
}