// Variables
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$background-color: #f9f9f9;
$card-background: #282828;
$text-color: #fff;
$border-color: #404040;
$border-radius: 12px;
$shadow-color: rgba(64, 64, 64, 0.1);

// Card styles
.card {
    display: grid;
    grid-template-areas: "header "
        "body ";
    grid-template-rows: 20% 80%;
    row-gap: 2rem;
    background-color: $card-background;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    box-shadow: 5px $shadow-color;
    padding: 1rem;
    text-align: left;
    height: -webkit-fill-available;

    &-header {
        grid-area: header;


        .name {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 1.5rem;
            //color: $text-color;
            font-weight: 500;

            svg {
                stroke-width: 0.5;
            }
        }

        .race {
            font-size: 0.9rem;
            //color: $text-color;
            font-weight: 700;
        }

        .birthDate {
            font-size: 0.9rem;
            //color: $text-color;
            font-weight: 500;
        }

        hr {
            margin: 1rem auto;
        }
    }

    &-content {
        grid-area: body;
        grid-template-areas: "animal-identity divider last-record";
        grid-template-columns: 49% 2% 49%;
        display: grid;

        .divider-h {
            grid-area: divider;
            border-left: solid #404040;
            height: 90%
        }

        .animal-identity {
            grid-area: animal-identity;

            .detail {
                display: grid;
                text-align: center;
                margin-bottom: 10px;
                font-size: 0.9rem;
                //color: $text-color;
                gap: 0.25rem;

                .label {
                    font-family: 'Lucida Sans';
                    font-weight: 700;
                    font-size: 1rem;
                    color: #b3b3b3
                }
            }
        }

        .last-record {
            grid-area: last-record;
            gap: 1rem;
            max-height: 80%;
            overflow: scroll;

            h1 {
                text-align: center;
                font-weight: 700;
            }

            .last-record-component {
                background-color: #404040;
                padding: 1rem;
                margin: 0.5rem auto;
                border-radius: 0.5rem;
                text-align: center;

            }
        }

    }

    @media (max-width: 768px) {


        &-content {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: "animal-identity" "divider" "last-record";
            height: auto;



            .last-record-component {
                background-color: #404040;
                padding: 1rem;
                margin: 0.5rem auto;
                border-radius: 0.5rem;
                text-align: center;
            }


        }


    }
}