.container {
    display: flex;
    flex-direction: column;

    div {
        margin-bottom: 1rem;
    }
}

.MuiPaper-root {
    background-color: #282828 !important;
    height: 400px;
    padding: 1rem;
}

.identity {
    grid-area: identity;
}

.vaccines {
    grid-area: vaccines;
}

.weight {

    h3 {
        text-align: center;
        font-weight: 700;
    }
}

.size {
    grid-area: size;
}

.add-weight-button {
    width: fit-content;
    margin-left: auto;
    height: fit-content;
}

@media (max-width: 768px) {
    .container-pet-details {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "identity"
            "weight"
            "size"
            "vaccines";
        height: auto;
        row-gap: 5rem;
    }
}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .container-pet-details {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "identity"
            "weight"
            "size"
            "vaccines";
        height: auto;
        row-gap: 5rem;
    }
}